<!-- Form of booking -->
{% extends "users/layout.html" %}
<!-- Load static files -->
{% load static %}

{% block body %}
    <div class="form-container">
        <form method="POST" id="checkout-form">
            <!-- Loading the checkout form -->
            {% csrf_token %}
            {{ form.as_p }}
            <!-- Submit button -->
            <button type="submit" class="btn-submit">Complete Booking</button>
        </form>
    </div>

    <!-- Stylesheet setting -->
    <link rel="stylesheet" href="{% static 'users/css/checkout.css' %}">
{% endblock %}