<!-- Basic html -->
{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Enter address -->
        <title>AirPolet</title>
        <!-- Define basic stylesheet --> 
        <link rel="stylesheet" href="{% static 'workers/css/layout.css' %}"> 
        <!-- Icon setting -->
        <link rel="icon" href="{% static 'users/airpolet_logo.ico' %}" type="image/x-icon">
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>

    <body>
        <!-- Header setting -->
        <header>
            <div class="logo">AirPolet</div>
        </header>
        
        {% block body %}
        {% endblock %}

        <!-- Footer setting -->
        <footer>
            <p>&copy; 2025 Web Application - All rights reserved.</p>
        </footer>
    </body>

</html>