/* Form container */
.form-container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: white;
    font-style: italic;
}

/* Toggle buttons */
.form-toggle {
    display: flex;
}

.btn-toggle {
    flex: 1;
    padding: 10px;
    margin: 0 0 15px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background: #f5f5f5;
    color: #333;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn-toggle.active {
    background: #d9534f;
    color: white;  
}

#toggle-register {
    border-radius: 4px 0 0 4px;
}

#toggle-login {
    border-radius: 0 4px 4px 0;
}

/* Form styles */
input, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    background-color: #f5f5f5;
    color: #333;
    margin: 0 0 5px;
}

button {
    background-color: #d9534f;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    font-weight: bolder;
    font-style: italic;
}

.btn-toggle:hover{
    background-color: #eaeaea
}

.btn-toggle.active:hover {
    background: #d9534f;
}

button:hover {
    background-color: #cc4c48
}

input:focus {
    outline: none;
    border-color: #d9534f;
    box-shadow: 0 0 5px rgba(217, 83, 79, 0.5);
}

/* Responsive settings */
@media (max-width: 599px) {
    .form-container {
        width: 310px;
        margin: 40px auto;
        padding: 15px;
        font-size: 0.8rem;
    }

    input, button {
        padding: 8px;
        border-radius: 3px;
    }

    #toggle-register {
        border-radius: 3px 0 0 3px;
    }
    
    #toggle-login {
        border-radius: 0 3px 3px 0;
    }
}